* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    background-color: #030E2C;
    z-index: 0;

}

a {
    text-decoration: none;
    color: #fff;
}

header {
    width: 100%;

    position: relative;
}

.nav-bar {
    box-shadow: 29px 17px 44px;
    background-color: #030E2C;
    z-index: 2;
    height: 80px;
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.nav-logo {
    width: 200px;
    font-size: 2rem;
    color: #fff;;
}

.nav {
    position: relative;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4rem;

}


.nav>div {
    padding: 0 1em;
    position: relative;
}



.nav>.nav-item::after {
    content: "";
    position: absolute;
    top: 31px;
    width: 0%;
    left: 0;
    box-shadow: 8px 2px 17px #09D0E7;
    border-bottom: 5px solid #09D0E7;
    transition: width 1s ease-in;
}

.nav>.nav-item:hover::after {
    transition: width 1s ease-in;
    width: 100%;

}



.search {
    display: flex;
    border: 2px solid gray;
    height: 40px;
    width: 200px;
    border-radius: 8px;
    background: white;

}

.search input {
    height: 100%;
    width: 85%;
    border: none;
    font-size: 1.1rem;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 1em;
    cursor: pointer;
    text-overflow: ellipsis;


}

.search i {
    font-size: 1.2rem;
    cursor: pointer;
}

/* toogle menu  */

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle input{
    display: none;

}
.open-menu,.close-menu i{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 1em;
}

#check{
    display: none;
}
.close-menu,.open-menu{
    display: none;
}

@media screen and (max-width:1050px) {
    .nav{
        display: none;
    }
    .open-menu,.close-menu{
        display: block;
    }
    #check:checked ~ .nav{
        top: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        z-index: 99;
        background-color: #000000c1;

    }
    #check:checked ~ .nav div{
        display: block;
        margin: 1rem 0;
        
        
    }
    .nav-item{
        font-size: 2rem;
    }
    
}
/* 
banner section */

.banner {

    width: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container {
    padding: 4em 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-wrap: wrap-reverse;
}

.slogan {
   
    padding: 1em;
    width: 600px;
    align-content: space-evenly;


}
.warrior {
    
    padding: 1em;
    width: 600px;
    align-content: space-evenly;
  

}

.slogan h1 {
  
    padding: .2em 0;
    text-transform: capitalize;
    color: white;
    font-size: 4rem;
    font-family: "Pixelify Sans", sans-serif;
    animation: tex-blink 4s infinite linear;
}
@keyframes tex-blink {
    0%{
        margin-left: -2px;
        color: #4f0b1b;
        text-shadow: 0px 0px 31px #4f0b1b;

    }
    20%{
        margin-left: 0;
        color:#ffd166 ;
        text-shadow: 0px 0px 31px #ffd166;
    }
    40%{
        margin-left: 2px;
        color: #06d6a0;
        text-shadow: 0px 0px 31px  #06d6a0;
    }
    60%{
        margin-left: 0px;
        color: #073b4c;
        text-shadow: 0px 0px 31px #073b4c;
    }
    80%{
        margin-left: -2px;
        color: #c0fdff;
        text-shadow: 0px 0px 31px  #c0fdff;
    }
    100%{
        margin-left: 0px;
        color: #118ab2;
        text-shadow: 0px 0px 31px #118ab2;
    }
    
}
.slogan p {
    text-align: justify;
    color: white;
    font-size: 1.2rem;

}
.slogan button{
    border: 2px solid #3A536D;
    margin: 1em 0;
    height: 45px;
    background: transparent;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    padding: 0 1em;
    color: white;
}

.warrior img {
    width: 100%;
 
    filter: drop-shadow(12px 0px 79px #96110f);
    animation: up 4s linear;
}
@keyframes up {

        0%{
      transform: translateX(-100vw);

        }
   
    100%{
        transform: translateX(0vh);
    }
}

/* main section */

main {
    width: 90%;
    margin: 0 5%;
}


/* about us section */

#about {  
    width: 100%;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#about>.about-us {
   
    padding: 1em;
    width: 600px;
    align-content: space-evenly;


}

.about-us h1 {
    text-transform: capitalize;
    padding: .2em 0;
    color: white;
    font-size: 3rem;
}

.about-us p {
    text-align: justify;
    color: white;
    font-size: 1.2rem;
}
button{
    border: 2px solid #3A536D;
    margin: 1em 0;
    padding:0 1em;
    height: 45px;
    background: transparent;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
   
    color: white;
    transition: all 1s ease-in;
}
button:hover{
    background-color: #09D0E7;
    border: 2px solid #09D0E7;
    box-shadow: 1px 1px 11px #09D0E7, -1px -1px 11px #09D0E7;
    transition: all 1s ease-in;

}

#about .img{
    
    padding: 1em;
    width: 600px;
}
.img img{
    width: 100%;
    filter: drop-shadow(12px 0px 79px #96110f);
}


/* game-section */
.heading{
    text-align: center;
    font-size: 3rem;
    margin: 20px 0;
    color: #fff;
}
.game-section{
    width: 100%;
   padding: 1em;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
  
  
 
}
.card{
    text-transform: capitalize;
    border-radius: 17px;
    margin: 20px 0;
    width: 250px;
    height: 400px;
    border: 5px solid #192141;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 7px 11px 50px #000000, -3px -11px 50px #000000;
  

}
.card img{
    max-width: 100%;
  height: auto;
  transition: all 0.7s ease-in;
  

}
.card img:hover{
    transform: scale(1.2);
  
    transition: all 0.7s ease-in;
}
.card .content{
    width: 100%;
    align-self: flex-start;
    padding: 1em;
    background-color: #192141;
    border-radius: 0 0 17px 17px;
  
}
.card .content h5{
  
    font-size: 1.4rem;
    color: #fff;
    padding: .5em 0;
}
.card .content hr{
    width: 100%;
}

.game-section img{
    filter: drop-shadow(2px 2px 10px rgb(28, 21, 21));
}

/* 
contact section */

.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-section .container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.contact-section .container .touch{
    width: 50%;
    min-width: 300px;
    height: 500px;
    background: url(conta.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 17px 0 0 17px;

}

.form{
    width: 50%;
    min-width: 300px;
    height: 500px;
    border-radius:0 17px 17px 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.form >.contact-box{
    gap: 5px;
    display: grid;
    color: #fff;
    place-items: center;
} 
.form h1{
    padding: 1em 0;
    font-size: 3rem;
}
.form input{
    border-radius: 7px;
    padding: 0 1rem;
    margin: 5px 0;
    border: none;
    outline: none;
    font-size: 1.1rem;
    height: 45px;
    width: 400px;
    min-width: 250px;
    max-width: 400px;
}
textarea{
    border-radius: 7px;
    padding:
    1rem;
    min-width: 250px;
    margin: 5px 0;
    border: none;
    outline: none;
    font-size: 1.1rem;
    height: 45px;
    width: 400px;
    max-width: 400px;
    max-height: 100px;

}




footer{
    width: 100vw;

}
.copyright{
    padding: 1em 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
}
.copyright a{
    font-size: 1.5rem;
    font-weight: 600;
}


